<!DOCTYPE html>
<html>
<head>
    <title>Job Hunt | Aspects</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>

<body>

<h3>Aspects</h3>
<div>user-selected custom-ordered views of companies they're considering applying to</div>



</body>
</html>